:root{
  --continue: #15E650;
  --leave: #E60101
}

main {
/* background-color: #277714; */
background-color: #DBDBDB;
margin: auto;
height: 100vh;
min-height: 100vh;
}

.ball {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  padding: 1%;
  width: 100px;
  height: 100px;
  border-radius: 50%
}

.ballNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border-radius: 50%;
  height: 35%;
  width: 35%;
}

.stripe {
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 100px
}

.solid {

}


