.card {
    justify-content: center;
    align-items: center;
    margin: auto;
   
}

.flex-container {
    max-width:50%;
    margin-left: 25%;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    display: flex
}

.total-stats {
    text-align: center;
}